header{
    background: #ffffff; 
    border-radius: 6px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
    nav.navbar{
        color: #152c61;
        display: flex;
        margin-inline: auto;
        max-width: 1440px;
        padding: 40px 79px;
        a:nth-child(1){
            align-self: center; 
            color: #152C61;
            font: normal 500 26px/39px Poppins_medium;
            margin-right: auto;
            text-decoration: none;
        }
        span{
            align-self: center;
            font: normal 300 16px/24px Poppins_light;
            margin-right: 20px;
        }
        a:nth-child(3){
            align-self: center;
            color: #2c6bff;
            font: normal 600 16px/24px Poppins_semi_bold;
            text-decoration: none;
        }
    }
}