@font-face {
  font-family: Poppins;
  src: url(../fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: Poppins_semi_bold;
  src: url(../fonts/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: Poppins_light;
  src: url(../fonts/Poppins-Light.ttf);
}
@font-face {
  font-family: Poppins_medium;
  src: url(../fonts/Poppins-Medium.ttf);
}
* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #fbfbfb;
}

/* body .hide_element {
  display: none !important;
}
body .show_element {
  display: block !important;
}
body .show_element_flex {
  display: flex !important;
} */
